html,body
{
    height: 100%;
    width: 100%;
    background-image: url(../images/intro_back2_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.video_container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  
  .video_container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay 
{
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95%;
    height: 100px;
    max-width: 45em;
    margin: auto auto 1em;
    box-sizing: border-box;
    padding: 30px;
    line-height: 1.6;
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    color: white;
}

/* Nav */
.grid-container#nav
{
    display: grid;
    grid-template-columns: 150px 150px auto 150px 150px;
    grid-gap: 10px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 10px;
}

.home
{
    height: 50px;
    width: 50px;
    margin-left: auto;
    background-image: url(../images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    animation: menu_out 0.5s;
    transform: rotateZ(-90deg);
}

.home:hover
{
    animation: menu_on 0.5s;
    transform: rotateZ(0deg);
}

@keyframes menu_on
{
    0% {transform: rotateZ(-90deg)}
    100% {transform: rotateZ(0deg)}
}

@keyframes menu_out
{
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(-90deg)}
}

a, a:hover
{
    text-decoration: none;
    color: white;
    outline: 0;
}

/* .fullScreen
{
    height: 50px;
    width: 50px;
    margin-right: auto;
    background-image: url(../images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
} */